<% if product.nil? %>
    <p>THere are no products</p>
  <% else %>
    <div class='column is-one-quarter'>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            <% if product.image.present? %>
              <figure class="image is-48x48">
               <%= image_tag product.image %>
              </figure>
            <% end %>
            </div>
            <div class="media-content">
              <%= button_to 'Buy now', checkout_create_path, params:{id: product.id}, remote: true %>
              <p>Price : <%=number_to_currency  product.cost_cents/100.0 %></p>
              <p class="title is-4"><%= link_to product.name, product %></p>
              <p class="title is-4"><%= link_to product.category.name, products_path(category_id: product.category.id) %></p>
            </div>
          </div>
          <div class="content">
            <p><%= product.description %></p>
            <% if @cart.include?(product) %>
              <p><%= link_to 'Remove', remove_from_cart_path(product), method: :delete %></p>
            <% else %>
              <p><%= link_to 'add', add_to_cart_path(product), method: :post %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>